* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}

p {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

a {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
