body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner img {
    width: 100%;
    height: 400px;
}

.header {
    display: flex;
}
.menu  {
    display: flex;
    font-size: 25px;
    text-transform: uppercase;   
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

.menu a {
    text-decoration: none;
    margin: 0 20px;
    color: #111;
}

.menu a:hover {
    color: red;
    font-weight: bolder; 
}

.menu-con {
    display: flex;
}

.sign button {
    width: 100px;
    height: 30px;
    border: 1px solid #fff;
    margin: 12px;
}

.sign a {
    text-decoration: none;
    width: 200px;
    height: 50px;    
}

.sign a:hover {
    color: blueviolet;
    font-weight: bolder;
}

.image {
    width: 250px;
    height: 350px;
    background-color: black;
    margin: 20px 40px 40px 50px;
}

.anh-1 {
    width: 170px;
    height: 170px;
    padding: 20px 20px 0 40px;
}

.image p {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.jacket {
    width: 130px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 58px;
}

.jacket a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.jacket a:hover {
    color: blue;
    font-weight: bolder;
}

.footer-product {
    display: block;
}

.inline {
    display: inline-block;
}

.contanier {
    display: flex;
}

.button {
    display: flex;
}

.rectangle {
    width: 300px;
    height: 500px;
    background-color: rgb(182, 182, 171);
    margin-top: 20px;
}

.footer {
    display: flex;
}


.block-text {
    font-size: 25px;
    font-weight: 500;
}

.block-icon {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.block-icon-image {
    width: 15px;
    height: 15px;
    margin-left: 100px;
}

.block-text-1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 80px;
}

.end {
    display: flex;
}

.end-text {
    margin-bottom: 10px;
    margin: 20px auto
}

.end-p {
    font-size: 30px;
    font-weight: 500;
}

.end-ket {
    font-size: 18px;
}

.end-image {
    width: 100px;
    height: 100px;
    margin-left: 80px;
}

.font-end {
    margin-left: 700px;
}